failed to get console mode for stdout: The handle is invalid.
--
-- PostgreSQL database dump
--

\restrict ewvIETPVq1kNTkj3zultBLbhdQw8jWBEPPYTkWs9bRO2mKskV11T49LwobP3tfg

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_accounts; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.auth_accounts (
    id integer NOT NULL,
    "userId" uuid NOT NULL,
    provider character varying(50) NOT NULL,
    type character varying(50) NOT NULL,
    "providerAccountId" character varying(255) NOT NULL,
    access_token text,
    expires_at bigint,
    refresh_token text,
    id_token text,
    scope text,
    session_state text,
    token_type character varying(50),
    password text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.auth_accounts OWNER TO recipeapp;

--
-- Name: auth_accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.auth_accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.auth_accounts_id_seq OWNER TO recipeapp;

--
-- Name: auth_accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.auth_accounts_id_seq OWNED BY public.auth_accounts.id;


--
-- Name: auth_sessions; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.auth_sessions (
    id integer NOT NULL,
    "sessionToken" character varying(255) NOT NULL,
    "userId" uuid NOT NULL,
    expires timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.auth_sessions OWNER TO recipeapp;

--
-- Name: auth_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.auth_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.auth_sessions_id_seq OWNER TO recipeapp;

--
-- Name: auth_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.auth_sessions_id_seq OWNED BY public.auth_sessions.id;


--
-- Name: auth_users; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.auth_users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255),
    email character varying(255) NOT NULL,
    "emailVerified" timestamp without time zone,
    image text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.auth_users OWNER TO recipeapp;

--
-- Name: auth_verification_token; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.auth_verification_token (
    identifier character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    expires timestamp without time zone NOT NULL
);


ALTER TABLE public.auth_verification_token OWNER TO recipeapp;

--
-- Name: collection_recipes; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.collection_recipes (
    id integer NOT NULL,
    collection_id integer NOT NULL,
    recipe_id integer NOT NULL,
    added_at timestamp without time zone DEFAULT now(),
    display_order integer DEFAULT 0,
    notes text
);


ALTER TABLE public.collection_recipes OWNER TO recipeapp;

--
-- Name: collection_recipes_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.collection_recipes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.collection_recipes_id_seq OWNER TO recipeapp;

--
-- Name: collection_recipes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.collection_recipes_id_seq OWNED BY public.collection_recipes.id;


--
-- Name: daily_recommendations; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.daily_recommendations (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    date date NOT NULL,
    recommended_recipe_id integer NOT NULL,
    alternative_recipe_ids integer[],
    reason text,
    presented boolean DEFAULT false,
    accepted boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.daily_recommendations OWNER TO recipeapp;

--
-- Name: daily_recommendations_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.daily_recommendations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.daily_recommendations_id_seq OWNER TO recipeapp;

--
-- Name: daily_recommendations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.daily_recommendations_id_seq OWNED BY public.daily_recommendations.id;


--
-- Name: food_recognition_results; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.food_recognition_results (
    id integer NOT NULL,
    user_id uuid,
    image_url text NOT NULL,
    detected_dish_name character varying(255),
    detected_ingredients text[],
    confidence_score numeric(3,2),
    generated_recipe_id integer,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.food_recognition_results OWNER TO recipeapp;

--
-- Name: food_recognition_results_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.food_recognition_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.food_recognition_results_id_seq OWNER TO recipeapp;

--
-- Name: food_recognition_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.food_recognition_results_id_seq OWNED BY public.food_recognition_results.id;


--
-- Name: grocery_lists; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.grocery_lists (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    name character varying(255),
    items jsonb NOT NULL,
    created_from_meal_plan boolean DEFAULT false,
    meal_plan_week date,
    estimated_cost numeric(10,2),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.grocery_lists OWNER TO recipeapp;

--
-- Name: grocery_lists_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.grocery_lists_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.grocery_lists_id_seq OWNER TO recipeapp;

--
-- Name: grocery_lists_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.grocery_lists_id_seq OWNED BY public.grocery_lists.id;


--
-- Name: meal_plan_suggestions; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.meal_plan_suggestions (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    date date NOT NULL,
    meal_type character varying(20) NOT NULL,
    recipe_id integer,
    suggestion_order integer NOT NULL,
    recipe_name character varying(255) NOT NULL,
    recipe_description text,
    ingredients jsonb,
    nutrition jsonb,
    cooking_time integer,
    prep_time integer,
    cuisine character varying(100),
    category character varying(50),
    difficulty character varying(20),
    servings integer DEFAULT 4,
    estimated_cost numeric(10,2),
    is_full_recipe_generated boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT meal_plan_suggestions_meal_type_check CHECK (((meal_type)::text = ANY ((ARRAY['breakfast'::character varying, 'lunch'::character varying, 'dinner'::character varying])::text[]))),
    CONSTRAINT meal_plan_suggestions_suggestion_order_check CHECK ((suggestion_order = ANY (ARRAY[1, 2, 3])))
);


ALTER TABLE public.meal_plan_suggestions OWNER TO recipeapp;

--
-- Name: meal_plan_suggestions_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.meal_plan_suggestions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.meal_plan_suggestions_id_seq OWNER TO recipeapp;

--
-- Name: meal_plan_suggestions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.meal_plan_suggestions_id_seq OWNED BY public.meal_plan_suggestions.id;


--
-- Name: meal_plans; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.meal_plans (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    date date NOT NULL,
    meal_type character varying(20) NOT NULL,
    recipe_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT meal_plans_meal_type_check CHECK (((meal_type)::text = ANY ((ARRAY['breakfast'::character varying, 'lunch'::character varying, 'dinner'::character varying, 'snack'::character varying])::text[])))
);


ALTER TABLE public.meal_plans OWNER TO recipeapp;

--
-- Name: meal_plans_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.meal_plans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.meal_plans_id_seq OWNER TO recipeapp;

--
-- Name: meal_plans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.meal_plans_id_seq OWNED BY public.meal_plans.id;


--
-- Name: meal_tracking; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.meal_tracking (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    recipe_id integer NOT NULL,
    cooked_date date NOT NULL,
    liked boolean,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.meal_tracking OWNER TO recipeapp;

--
-- Name: meal_tracking_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.meal_tracking_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.meal_tracking_id_seq OWNER TO recipeapp;

--
-- Name: meal_tracking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.meal_tracking_id_seq OWNED BY public.meal_tracking.id;


--
-- Name: recipe_collections; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.recipe_collections (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    collection_type character varying(50) DEFAULT 'custom'::character varying NOT NULL,
    system_type character varying(50),
    cover_image_url text,
    is_pinned boolean DEFAULT false,
    recipe_count integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT recipe_collections_collection_type_check CHECK (((collection_type)::text = ANY ((ARRAY['system'::character varying, 'custom'::character varying])::text[]))),
    CONSTRAINT recipe_collections_system_type_check CHECK (((system_type)::text = ANY ((ARRAY['favorites'::character varying, 'my_creations'::character varying, 'generated'::character varying])::text[])))
);


ALTER TABLE public.recipe_collections OWNER TO recipeapp;

--
-- Name: recipe_collections_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.recipe_collections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_collections_id_seq OWNER TO recipeapp;

--
-- Name: recipe_collections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.recipe_collections_id_seq OWNED BY public.recipe_collections.id;


--
-- Name: recipe_favorites; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.recipe_favorites (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    recipe_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.recipe_favorites OWNER TO recipeapp;

--
-- Name: recipe_favorites_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.recipe_favorites_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_favorites_id_seq OWNER TO recipeapp;

--
-- Name: recipe_favorites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.recipe_favorites_id_seq OWNED BY public.recipe_favorites.id;


--
-- Name: recipe_ownership; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.recipe_ownership (
    id integer NOT NULL,
    recipe_id integer NOT NULL,
    user_id uuid NOT NULL,
    ownership_type character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT recipe_ownership_ownership_type_check CHECK (((ownership_type)::text = ANY ((ARRAY['creator'::character varying, 'kept'::character varying, 'imported'::character varying])::text[])))
);


ALTER TABLE public.recipe_ownership OWNER TO recipeapp;

--
-- Name: recipe_ownership_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.recipe_ownership_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_ownership_id_seq OWNER TO recipeapp;

--
-- Name: recipe_ownership_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.recipe_ownership_id_seq OWNED BY public.recipe_ownership.id;


--
-- Name: recipes; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.recipes (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    category character varying(50),
    cuisine character varying(100),
    cooking_time integer,
    prep_time integer,
    difficulty character varying(20),
    servings integer DEFAULT 1,
    ingredients jsonb,
    instructions jsonb,
    image_url text,
    video_url text,
    nutrition jsonb,
    allergens text[],
    tags text[],
    estimated_cost numeric(10,2),
    average_rating numeric(3,2) DEFAULT 0,
    rating_count integer DEFAULT 0,
    is_featured boolean DEFAULT false,
    creator_type character varying(50),
    creator_user_id uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    source_type character varying(50),
    source_user_id uuid,
    import_source character varying(50),
    import_url text,
    import_metadata jsonb
);


ALTER TABLE public.recipes OWNER TO recipeapp;

--
-- Name: recipes_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.recipes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipes_id_seq OWNER TO recipeapp;

--
-- Name: recipes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.recipes_id_seq OWNED BY public.recipes.id;


--
-- Name: saved_recipes; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.saved_recipes (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    recipe_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.saved_recipes OWNER TO recipeapp;

--
-- Name: saved_recipes_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.saved_recipes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.saved_recipes_id_seq OWNER TO recipeapp;

--
-- Name: saved_recipes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.saved_recipes_id_seq OWNED BY public.saved_recipes.id;


--
-- Name: user_daily_suggestions; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.user_daily_suggestions (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    date date NOT NULL,
    recipe_id integer NOT NULL,
    generated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_daily_suggestions OWNER TO recipeapp;

--
-- Name: user_daily_suggestions_id_seq; Type: SEQUENCE; Schema: public; Owner: recipeapp
--

CREATE SEQUENCE public.user_daily_suggestions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_daily_suggestions_id_seq OWNER TO recipeapp;

--
-- Name: user_daily_suggestions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipeapp
--

ALTER SEQUENCE public.user_daily_suggestions_id_seq OWNED BY public.user_daily_suggestions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: recipeapp
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    diet_type text[],
    allergies text[],
    dislikes text[],
    preferred_cuisines text[],
    calorie_goal integer,
    experience_level character varying(50),
    cooking_schedule text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    goals text[],
    cooking_skill character varying(50),
    preferred_cooking_time character varying(50),
    people_count integer DEFAULT 1,
    daily_suggestion_enabled boolean DEFAULT true,
    daily_suggestion_time character varying(10) DEFAULT '18:00'::character varying,
    weekly_plan_enabled boolean DEFAULT false,
    weekly_plan_days text[] DEFAULT ARRAY['mon'::text, 'tue'::text, 'wed'::text, 'thu'::text, 'fri'::text],
    measurement_system character varying(20) DEFAULT 'metric'::character varying,
    onboarding_completed boolean DEFAULT false,
    budget_amount numeric(10,2),
    budget_period character varying(20),
    notification_preferences jsonb DEFAULT '{}'::jsonb,
    apply_preferences_in_assistant boolean DEFAULT true,
    CONSTRAINT users_budget_period_check CHECK (((budget_period)::text = ANY ((ARRAY['weekly'::character varying, 'biweekly'::character varying, 'monthly'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO recipeapp;

--
-- Name: COLUMN users.goals; Type: COMMENT; Schema: public; Owner: recipeapp
--

COMMENT ON COLUMN public.users.goals IS 'Array of user goals (save_time, eat_healthier, etc.)';


--
-- Name: COLUMN users.cooking_skill; Type: COMMENT; Schema: public; Owner: recipeapp
--

COMMENT ON COLUMN public.users.cooking_skill IS 'User cooking skill level (beginner, intermediate, advanced)';


--
-- Name: COLUMN users.preferred_cooking_time; Type: COMMENT; Schema: public; Owner: recipeapp
--

COMMENT ON COLUMN public.users.preferred_cooking_time IS 'Preferred cooking time range (under_15, 15_30, 30_45, no_limit)';


--
-- Name: COLUMN users.people_count; Type: COMMENT; Schema: public; Owner: recipeapp
--

COMMENT ON COLUMN public.users.people_count IS 'Number of people usually cooked for';


--
-- Name: COLUMN users.daily_suggestion_enabled; Type: COMMENT; Schema: public; Owner: recipeapp
--

COMMENT ON COLUMN public.users.daily_suggestion_enabled IS 'Whether daily meal suggestions are enabled';


--
-- Name: COLUMN users.daily_suggestion_time; Type: COMMENT; Schema: public; Owner: recipeapp
--

COMMENT ON COLUMN public.users.daily_suggestion_time IS 'Preferred time for daily suggestions (HH:MM format)';


--
-- Name: COLUMN users.weekly_plan_enabled; Type: COMMENT; Schema: public; Owner: recipeapp
--

COMMENT ON COLUMN public.users.weekly_plan_enabled IS 'Whether weekly meal planning is enabled';


--
-- Name: COLUMN users.weekly_plan_days; Type: COMMENT; Schema: public; Owner: recipeapp
--

COMMENT ON COLUMN public.users.weekly_plan_days IS 'Days of week for meal planning (mon, tue, wed, etc.)';


--
-- Name: COLUMN users.measurement_system; Type: COMMENT; Schema: public; Owner: recipeapp
--

COMMENT ON COLUMN public.users.measurement_system IS 'Preferred measurement system (metric or imperial)';


--
-- Name: COLUMN users.onboarding_completed; Type: COMMENT; Schema: public; Owner: recipeapp
--

COMMENT ON COLUMN public.users.onboarding_completed IS 'Whether user has completed the onboarding flow';


--
-- Name: COLUMN users.notification_preferences; Type: COMMENT; Schema: public; Owner: recipeapp
--

COMMENT ON COLUMN public.users.notification_preferences IS 'User notification preferences stored as JSON';


--
-- Name: auth_accounts id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.auth_accounts ALTER COLUMN id SET DEFAULT nextval('public.auth_accounts_id_seq'::regclass);


--
-- Name: auth_sessions id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.auth_sessions ALTER COLUMN id SET DEFAULT nextval('public.auth_sessions_id_seq'::regclass);


--
-- Name: collection_recipes id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.collection_recipes ALTER COLUMN id SET DEFAULT nextval('public.collection_recipes_id_seq'::regclass);


--
-- Name: daily_recommendations id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.daily_recommendations ALTER COLUMN id SET DEFAULT nextval('public.daily_recommendations_id_seq'::regclass);


--
-- Name: food_recognition_results id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.food_recognition_results ALTER COLUMN id SET DEFAULT nextval('public.food_recognition_results_id_seq'::regclass);


--
-- Name: grocery_lists id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.grocery_lists ALTER COLUMN id SET DEFAULT nextval('public.grocery_lists_id_seq'::regclass);


--
-- Name: meal_plan_suggestions id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.meal_plan_suggestions ALTER COLUMN id SET DEFAULT nextval('public.meal_plan_suggestions_id_seq'::regclass);


--
-- Name: meal_plans id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.meal_plans ALTER COLUMN id SET DEFAULT nextval('public.meal_plans_id_seq'::regclass);


--
-- Name: meal_tracking id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.meal_tracking ALTER COLUMN id SET DEFAULT nextval('public.meal_tracking_id_seq'::regclass);


--
-- Name: recipe_collections id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipe_collections ALTER COLUMN id SET DEFAULT nextval('public.recipe_collections_id_seq'::regclass);


--
-- Name: recipe_favorites id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipe_favorites ALTER COLUMN id SET DEFAULT nextval('public.recipe_favorites_id_seq'::regclass);


--
-- Name: recipe_ownership id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipe_ownership ALTER COLUMN id SET DEFAULT nextval('public.recipe_ownership_id_seq'::regclass);


--
-- Name: recipes id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipes ALTER COLUMN id SET DEFAULT nextval('public.recipes_id_seq'::regclass);


--
-- Name: saved_recipes id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.saved_recipes ALTER COLUMN id SET DEFAULT nextval('public.saved_recipes_id_seq'::regclass);


--
-- Name: user_daily_suggestions id; Type: DEFAULT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.user_daily_suggestions ALTER COLUMN id SET DEFAULT nextval('public.user_daily_suggestions_id_seq'::regclass);


--
-- Data for Name: auth_accounts; Type: TABLE DATA; Schema: public; Owner: recipeapp
--



--
-- Data for Name: auth_sessions; Type: TABLE DATA; Schema: public; Owner: recipeapp
--



--
-- Data for Name: auth_users; Type: TABLE DATA; Schema: public; Owner: recipeapp
--

COPY public.auth_users (id, name, email, "emailVerified", image, created_at, updated_at) FROM stdin;
d62be0c3-c91d-4292-b707-31d1fbe19715	Roch	rapetoh@hotmail.com	\N	\N	2025-11-21 10:05:15.786283	2025-11-21 10:05:15.786283
24330130-ad52-43f0-8a62-6caea9c52950	Senyo	senyo@gmail.com	\N	\N	2025-11-23 12:14:45.45529	2025-11-23 12:14:45.45529
0ce165e6-64e5-4685-87e7-87f3d084f123	Dola	dola@gmail.com	\N	\N	2025-11-23 12:25:47.923303	2025-11-23 12:25:47.923303
24a796ae-3795-4aa2-8b1b-0c7c14aac670	Senyo	rapetohsenyo@gmail.com	\N	\N	2025-12-28 22:08:23.579343	2025-12-28 22:08:23.579343
\.


--
-- Data for Name: auth_verification_token; Type: TABLE DATA; Schema: public; Owner: recipeapp
--

COPY public.auth_verification_token (identifier, token, expires) FROM stdin;
\.


--
-- Data for Name: collection_recipes; Type: TABLE DATA; Schema: public; Owner: recipeapp
--



--
-- Data for Name: daily_recommendations; Type: TABLE DATA; Schema: public; Owner: recipeapp
--

COPY public.daily_recommendations (id, user_id, date, recommended_recipe_id, alternative_recipe_ids, reason, presented, accepted, created_at) FROM stdin;
\.


--
-- Data for Name: food_recognition_results; Type: TABLE DATA; Schema: public; Owner: recipeapp
--



--
-- Data for Name: grocery_lists; Type: TABLE DATA; Schema: public; Owner: recipeapp
--



--
-- Data for Name: meal_plan_suggestions; Type: TABLE DATA; Schema: public; Owner: recipeapp
--



--
-- Data for Name: meal_plans; Type: TABLE DATA; Schema: public; Owner: recipeapp
--



--
-- Data for Name: meal_tracking; Type: TABLE DATA; Schema: public; Owner: recipeapp
--

COPY public.meal_tracking (id, user_id, recipe_id, cooked_date, liked, created_at) FROM stdin;
1	0ce165e6-64e5-4685-87e7-87f3d084f123	19	2025-11-28	f	2025-11-28 01:19:12.177772
2	0ce165e6-64e5-4685-87e7-87f3d084f123	26	2025-11-28	f	2025-11-28 13:07:23.191926
3	0ce165e6-64e5-4685-87e7-87f3d084f123	27	2025-11-28	f	2025-11-28 13:17:16.871646
\.


--
-- Data for Name: recipe_collections; Type: TABLE DATA; Schema: public; Owner: recipeapp
--



--
-- Data for Name: recipe_favorites; Type: TABLE DATA; Schema: public; Owner: recipeapp
--

COPY public.recipe_favorites (id, user_id, recipe_id, created_at) FROM stdin;
1	d62be0c3-c91d-4292-b707-31d1fbe19715	1	2025-11-21 10:38:30.762239
2	0ce165e6-64e5-4685-87e7-87f3d084f123	3	2025-11-23 12:33:28.414365
3	0ce165e6-64e5-4685-87e7-87f3d084f123	4	2025-11-23 16:46:00.057615
4	0ce165e6-64e5-4685-87e7-87f3d084f123	9	2025-11-25 12:48:51.172632
5	0ce165e6-64e5-4685-87e7-87f3d084f123	8	2025-11-26 08:47:43.210757
\.


--
-- Data for Name: recipe_ownership; Type: TABLE DATA; Schema: public; Owner: recipeapp
--



--
-- Data for Name: recipes; Type: TABLE DATA; Schema: public; Owner: recipeapp
--



--
-- Data for Name: saved_recipes; Type: TABLE DATA; Schema: public; Owner: recipeapp
--



--
-- Data for Name: user_daily_suggestions; Type: TABLE DATA; Schema: public; Owner: recipeapp
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: recipeapp
--



--
-- Name: auth_accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.auth_accounts_id_seq', 4, true);


--
-- Name: auth_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.auth_sessions_id_seq', 11, true);


--
-- Name: collection_recipes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.collection_recipes_id_seq', 35, true);


--
-- Name: daily_recommendations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.daily_recommendations_id_seq', 1, false);


--
-- Name: food_recognition_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.food_recognition_results_id_seq', 7, true);


--
-- Name: grocery_lists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.grocery_lists_id_seq', 12, true);


--
-- Name: meal_plan_suggestions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.meal_plan_suggestions_id_seq', 125, true);


--
-- Name: meal_plans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.meal_plans_id_seq', 15, true);


--
-- Name: meal_tracking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.meal_tracking_id_seq', 3, true);


--
-- Name: recipe_collections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.recipe_collections_id_seq', 11, true);


--
-- Name: recipe_favorites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.recipe_favorites_id_seq', 8, true);


--
-- Name: recipe_ownership_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.recipe_ownership_id_seq', 69, true);


--
-- Name: recipes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.recipes_id_seq', 95, true);


--
-- Name: saved_recipes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.saved_recipes_id_seq', 21, true);


--
-- Name: user_daily_suggestions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipeapp
--

SELECT pg_catalog.setval('public.user_daily_suggestions_id_seq', 41, true);


--
-- Name: auth_accounts auth_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.auth_accounts
    ADD CONSTRAINT auth_accounts_pkey PRIMARY KEY (id);


--
-- Name: auth_sessions auth_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT auth_sessions_pkey PRIMARY KEY (id);


--
-- Name: auth_sessions auth_sessions_sessionToken_key; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT "auth_sessions_sessionToken_key" UNIQUE ("sessionToken");


--
-- Name: auth_users auth_users_email_key; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.auth_users
    ADD CONSTRAINT auth_users_email_key UNIQUE (email);


--
-- Name: auth_users auth_users_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.auth_users
    ADD CONSTRAINT auth_users_pkey PRIMARY KEY (id);


--
-- Name: auth_verification_token auth_verification_token_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.auth_verification_token
    ADD CONSTRAINT auth_verification_token_pkey PRIMARY KEY (identifier, token);


--
-- Name: collection_recipes collection_recipes_collection_id_recipe_id_key; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.collection_recipes
    ADD CONSTRAINT collection_recipes_collection_id_recipe_id_key UNIQUE (collection_id, recipe_id);


--
-- Name: collection_recipes collection_recipes_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.collection_recipes
    ADD CONSTRAINT collection_recipes_pkey PRIMARY KEY (id);


--
-- Name: daily_recommendations daily_recommendations_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.daily_recommendations
    ADD CONSTRAINT daily_recommendations_pkey PRIMARY KEY (id);


--
-- Name: daily_recommendations daily_recommendations_user_id_date_key; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.daily_recommendations
    ADD CONSTRAINT daily_recommendations_user_id_date_key UNIQUE (user_id, date);


--
-- Name: food_recognition_results food_recognition_results_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.food_recognition_results
    ADD CONSTRAINT food_recognition_results_pkey PRIMARY KEY (id);


--
-- Name: grocery_lists grocery_lists_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.grocery_lists
    ADD CONSTRAINT grocery_lists_pkey PRIMARY KEY (id);


--
-- Name: meal_plan_suggestions meal_plan_suggestions_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.meal_plan_suggestions
    ADD CONSTRAINT meal_plan_suggestions_pkey PRIMARY KEY (id);


--
-- Name: meal_plan_suggestions meal_plan_suggestions_user_id_date_meal_type_suggestion_ord_key; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.meal_plan_suggestions
    ADD CONSTRAINT meal_plan_suggestions_user_id_date_meal_type_suggestion_ord_key UNIQUE (user_id, date, meal_type, suggestion_order);


--
-- Name: meal_plans meal_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.meal_plans
    ADD CONSTRAINT meal_plans_pkey PRIMARY KEY (id);


--
-- Name: meal_tracking meal_tracking_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.meal_tracking
    ADD CONSTRAINT meal_tracking_pkey PRIMARY KEY (id);


--
-- Name: recipe_collections recipe_collections_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipe_collections
    ADD CONSTRAINT recipe_collections_pkey PRIMARY KEY (id);


--
-- Name: recipe_collections recipe_collections_user_id_system_type_key; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipe_collections
    ADD CONSTRAINT recipe_collections_user_id_system_type_key UNIQUE (user_id, system_type);


--
-- Name: recipe_favorites recipe_favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipe_favorites
    ADD CONSTRAINT recipe_favorites_pkey PRIMARY KEY (id);


--
-- Name: recipe_favorites recipe_favorites_user_id_recipe_id_key; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipe_favorites
    ADD CONSTRAINT recipe_favorites_user_id_recipe_id_key UNIQUE (user_id, recipe_id);


--
-- Name: recipe_ownership recipe_ownership_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipe_ownership
    ADD CONSTRAINT recipe_ownership_pkey PRIMARY KEY (id);


--
-- Name: recipe_ownership recipe_ownership_recipe_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipe_ownership
    ADD CONSTRAINT recipe_ownership_recipe_id_user_id_key UNIQUE (recipe_id, user_id);


--
-- Name: recipes recipes_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipes
    ADD CONSTRAINT recipes_pkey PRIMARY KEY (id);


--
-- Name: saved_recipes saved_recipes_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.saved_recipes
    ADD CONSTRAINT saved_recipes_pkey PRIMARY KEY (id);


--
-- Name: saved_recipes saved_recipes_user_id_recipe_id_key; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.saved_recipes
    ADD CONSTRAINT saved_recipes_user_id_recipe_id_key UNIQUE (user_id, recipe_id);


--
-- Name: user_daily_suggestions user_daily_suggestions_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.user_daily_suggestions
    ADD CONSTRAINT user_daily_suggestions_pkey PRIMARY KEY (id);


--
-- Name: user_daily_suggestions user_daily_suggestions_user_id_date_recipe_id_key; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.user_daily_suggestions
    ADD CONSTRAINT user_daily_suggestions_user_id_date_recipe_id_key UNIQUE (user_id, date, recipe_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_collection_recipes_collection; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_collection_recipes_collection ON public.collection_recipes USING btree (collection_id);


--
-- Name: idx_collection_recipes_order; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_collection_recipes_order ON public.collection_recipes USING btree (collection_id, display_order);


--
-- Name: idx_collection_recipes_recipe; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_collection_recipes_recipe ON public.collection_recipes USING btree (recipe_id);


--
-- Name: idx_collections_type; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_collections_type ON public.recipe_collections USING btree (collection_type);


--
-- Name: idx_collections_user; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_collections_user ON public.recipe_collections USING btree (user_id);


--
-- Name: idx_daily_recommendations_user_date; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_daily_recommendations_user_date ON public.daily_recommendations USING btree (user_id, date);


--
-- Name: idx_grocery_lists_user; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_grocery_lists_user ON public.grocery_lists USING btree (user_id);


--
-- Name: idx_meal_plan_suggestions_recipe; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_meal_plan_suggestions_recipe ON public.meal_plan_suggestions USING btree (recipe_id) WHERE (recipe_id IS NOT NULL);


--
-- Name: idx_meal_plan_suggestions_user_date; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_meal_plan_suggestions_user_date ON public.meal_plan_suggestions USING btree (user_id, date);


--
-- Name: idx_meal_plan_suggestions_user_date_meal; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_meal_plan_suggestions_user_date_meal ON public.meal_plan_suggestions USING btree (user_id, date, meal_type);


--
-- Name: idx_meal_plans_user_date; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_meal_plans_user_date ON public.meal_plans USING btree (user_id, date);


--
-- Name: idx_meal_tracking_user_date; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_meal_tracking_user_date ON public.meal_tracking USING btree (user_id, cooked_date);


--
-- Name: idx_recipe_favorites_recipe; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_recipe_favorites_recipe ON public.recipe_favorites USING btree (recipe_id);


--
-- Name: idx_recipe_favorites_user; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_recipe_favorites_user ON public.recipe_favorites USING btree (user_id);


--
-- Name: idx_recipe_ownership_recipe; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_recipe_ownership_recipe ON public.recipe_ownership USING btree (recipe_id);


--
-- Name: idx_recipe_ownership_user; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_recipe_ownership_user ON public.recipe_ownership USING btree (user_id);


--
-- Name: idx_recipes_category; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_recipes_category ON public.recipes USING btree (category);


--
-- Name: idx_recipes_cuisine; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_recipes_cuisine ON public.recipes USING btree (cuisine);


--
-- Name: idx_recipes_featured; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_recipes_featured ON public.recipes USING btree (is_featured);


--
-- Name: idx_recipes_import_source; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_recipes_import_source ON public.recipes USING btree (import_source);


--
-- Name: idx_recipes_name; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_recipes_name ON public.recipes USING btree (name);


--
-- Name: idx_recipes_source_type; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_recipes_source_type ON public.recipes USING btree (source_type);


--
-- Name: idx_recipes_source_user_id; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_recipes_source_user_id ON public.recipes USING btree (source_user_id);


--
-- Name: idx_recipes_tags; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_recipes_tags ON public.recipes USING gin (tags);


--
-- Name: idx_saved_recipes_user; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_saved_recipes_user ON public.saved_recipes USING btree (user_id);


--
-- Name: idx_user_daily_suggestions_user_date; Type: INDEX; Schema: public; Owner: recipeapp
--

CREATE INDEX idx_user_daily_suggestions_user_date ON public.user_daily_suggestions USING btree (user_id, date);


--
-- Name: auth_accounts auth_accounts_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.auth_accounts
    ADD CONSTRAINT "auth_accounts_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.auth_users(id) ON DELETE CASCADE;


--
-- Name: auth_sessions auth_sessions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT "auth_sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.auth_users(id) ON DELETE CASCADE;


--
-- Name: collection_recipes collection_recipes_collection_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.collection_recipes
    ADD CONSTRAINT collection_recipes_collection_id_fkey FOREIGN KEY (collection_id) REFERENCES public.recipe_collections(id) ON DELETE CASCADE;


--
-- Name: collection_recipes collection_recipes_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.collection_recipes
    ADD CONSTRAINT collection_recipes_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: daily_recommendations daily_recommendations_recommended_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.daily_recommendations
    ADD CONSTRAINT daily_recommendations_recommended_recipe_id_fkey FOREIGN KEY (recommended_recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: daily_recommendations daily_recommendations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.daily_recommendations
    ADD CONSTRAINT daily_recommendations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id) ON DELETE CASCADE;


--
-- Name: food_recognition_results food_recognition_results_generated_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.food_recognition_results
    ADD CONSTRAINT food_recognition_results_generated_recipe_id_fkey FOREIGN KEY (generated_recipe_id) REFERENCES public.recipes(id) ON DELETE SET NULL;


--
-- Name: food_recognition_results food_recognition_results_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.food_recognition_results
    ADD CONSTRAINT food_recognition_results_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id) ON DELETE SET NULL;


--
-- Name: grocery_lists grocery_lists_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.grocery_lists
    ADD CONSTRAINT grocery_lists_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id) ON DELETE CASCADE;


--
-- Name: meal_plan_suggestions meal_plan_suggestions_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.meal_plan_suggestions
    ADD CONSTRAINT meal_plan_suggestions_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE SET NULL;


--
-- Name: meal_plan_suggestions meal_plan_suggestions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.meal_plan_suggestions
    ADD CONSTRAINT meal_plan_suggestions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id) ON DELETE CASCADE;


--
-- Name: meal_plans meal_plans_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.meal_plans
    ADD CONSTRAINT meal_plans_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: meal_plans meal_plans_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.meal_plans
    ADD CONSTRAINT meal_plans_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id) ON DELETE CASCADE;


--
-- Name: meal_tracking meal_tracking_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.meal_tracking
    ADD CONSTRAINT meal_tracking_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: meal_tracking meal_tracking_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.meal_tracking
    ADD CONSTRAINT meal_tracking_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id) ON DELETE CASCADE;


--
-- Name: recipe_collections recipe_collections_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipe_collections
    ADD CONSTRAINT recipe_collections_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id) ON DELETE CASCADE;


--
-- Name: recipe_favorites recipe_favorites_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipe_favorites
    ADD CONSTRAINT recipe_favorites_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: recipe_favorites recipe_favorites_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipe_favorites
    ADD CONSTRAINT recipe_favorites_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id) ON DELETE CASCADE;


--
-- Name: recipe_ownership recipe_ownership_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipe_ownership
    ADD CONSTRAINT recipe_ownership_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: recipe_ownership recipe_ownership_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipe_ownership
    ADD CONSTRAINT recipe_ownership_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id) ON DELETE CASCADE;


--
-- Name: recipes recipes_source_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.recipes
    ADD CONSTRAINT recipes_source_user_id_fkey FOREIGN KEY (source_user_id) REFERENCES public.auth_users(id) ON DELETE SET NULL;


--
-- Name: saved_recipes saved_recipes_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.saved_recipes
    ADD CONSTRAINT saved_recipes_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: saved_recipes saved_recipes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.saved_recipes
    ADD CONSTRAINT saved_recipes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id) ON DELETE CASCADE;


--
-- Name: user_daily_suggestions user_daily_suggestions_recipe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.user_daily_suggestions
    ADD CONSTRAINT user_daily_suggestions_recipe_id_fkey FOREIGN KEY (recipe_id) REFERENCES public.recipes(id) ON DELETE CASCADE;


--
-- Name: user_daily_suggestions user_daily_suggestions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.user_daily_suggestions
    ADD CONSTRAINT user_daily_suggestions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id) ON DELETE CASCADE;


--
-- Name: users users_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: recipeapp
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_id_fkey FOREIGN KEY (id) REFERENCES public.auth_users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ewvIETPVq1kNTkj3zultBLbhdQw8jWBEPPYTkWs9bRO2mKskV11T49LwobP3tfg

